$base-font-weight: 500;
$primary-font-size: 24px;
$secondary-font-size: 18px;

$bg-color: #F8F9FA;
$primary-color: #2C3E50;
$secondary-color: #7F8C8D;
$focus-color: #4A89DC;
$error-color: #E74C3C;
$hover-color: #3C5671;

$border-radius: 25px;

@mixin section-container {
  max-width: 600px;
  width: 100%;
}

$intensity-colors: (
  0: black,
  1: #4A89DC,
  2: #5577DB,
  3: #6186D9,
  4: #6D94D8,
  5: #7993D6,
  6: #8591D5,
  7: #918FD3,
  8: #9D8DD2,
  9: #A98BCF,
  10: #9B59B6
);