@use './default_variables' as *;

.diary-section {
  display: flex;
  justify-content: center;
  padding: 75px;

  .note-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    max-width: 700px;
  }
}

.note-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid $primary-color;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid $primary-color;
    cursor: pointer;
  }

  .note-title {
    display: block;
    margin-bottom: 20px;
    font-size: $secondary-font-size;
    color: $secondary-color;
    text-align: right;
  }
}

.note-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .field-row {
    text-align: center;

    .field {
      color: $secondary-color;
    }
  }
}

.new-note-button {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 50px;
  padding: 0.5rem 1.2rem;

  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 1000;

  &:hover:not(:disabled) {
    background-color: $hover-color;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}