@use './default_variables' as *;

.pain-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $bg-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo img {
    display: inline-block;
    vertical-align: middle;
  }

  .main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: $secondary-font-size;
  
    ul {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &.active {
        text-decoration: none;
      }
    }
  }

  .group-btn {
    display: flex;
    gap: 20px;

    .notification-btn {
      border: none;
      background-color: $bg-color;
    }

    .logout-btn {
      padding: 0.5rem 1.2rem;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: $border-radius;
      font-size: $secondary-font-size;
      
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}