@use './default_variables' as *;

.body__part {
  transition: fill 0.3s ease;
  cursor: pointer;

  @each $key, $color in $intensity-colors {
    &.intensity-#{$key} {
      fill: $color;
    }
  }

  &.highlighted {
    fill: $focus-color; // напр., #FFA726
  }

  &.active {
    fill: $focus-color; // когда пользователь сейчас выбирает
  }

  &:hover {
    fill: $focus-color;
  }
}
