@use './default_variables' as *;

.patients-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 0;
  padding-top: 75px;
  position: relative;

  .find-patient {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 746px;
    width: 100%;
    justify-content: center;

    .form-group {
      margin-bottom: 0;
      flex: 1;
    }

    .form-submit {
      width: auto;
    }
  }
}

.new-requests-button {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 50px;
  padding: 0.5rem 1.2rem;

  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 1000;

  &:hover:not(:disabled) {
    background-color: $hover-color;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.patients-scroll-container {
  flex: 1;
  overflow-y: auto;
  padding: 0 80px 40px;
}

.accepted-patients {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 46px;
  margin-top: 20px;
  max-width: 100%;
}

.patient-card {
  border: 1px solid $secondary-color;
  border-radius: 25px;
  padding: 16.5px 20px;
  font-size: $secondary-font-size;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  gap: 15px;

  cursor: pointer;
  transition: background-color 0.2s, transform 0.3s ease;

  &:hover:not(:disabled) {
    transform: translateX(10px) translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.patient-info {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .full-name {
    display: flex;
    flex-direction: column;
  }

  .birthday {
    display: block;
    color: $secondary-color;
  }
}

.patient-diagnosis {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .field-row {
    label {
      color: $secondary-color;
      margin-right: 5px;
    }
  }
}