@use './default_variables' as *;

.request-modal {
  .modal-window {
    max-width: 800px;
    width: 90%;
    padding: 20px;
  }

  .modal-content {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
  }
}

.request-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  width: 100%;

  &.editing {
    flex-direction: column;
    gap: 15px;

    .edit-section {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
    }
  }

  .request-patient-info {
    width: 70%;
    padding: 10px 20px;
    overflow-x: hidden;
    gap: 5px;

    .field-row {
      display: flex;
      gap: 8px;

      span {
        color: $primary-color;
      }
    }

    label {
      font-weight: $base-font-weight;
      white-space: nowrap;
      color: $secondary-color;
    }

    span {
      padding-right: 10px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-word;
      flex: 1;
    }
  }

  .action-buttons {
    display: flex;
    gap: 40px;
    padding: 20px;

    .btn {
      padding: 0;
    }
  }
}
