$primary-font-size: 24px;
$secondary-font-size: 18px;

$bg-color: #F8F9FA;
$primary-color: #2C3E50;
$secondary-color: #7F8C8D;
$focus-color: #4A89DC;
$error-color: #E74C3C;
$hover-color: #3C5671;

$border-radius: 25px;