.personal-page {
  height: 100vh;
  background-color: $bg-color;
  padding-top: 75px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  .profile-section {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: auto;
  }  
  
  .profile-card {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;

    .profile-field {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: auto;
      max-width: 100%;
      gap: 30px;
      margin: 10px 0;

      .field-label {
        text-align: right;
        color: $secondary-color;
      }

      .field-value {
        text-align: left;
      }
    }
  }

  .attending-physician {
    box-sizing: border-box;
    padding: 20px;
    gap: 30px;

    display: flex;
    flex-direction: column;

    .physician-field {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      .field-label {
        text-align: left;
        color: $secondary-color;
      }

      .field-value {
        text-align: left;
      }
    }
  }
}

.attach-doctor-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;

  form {
    width: 100%;
  }

  .attach-field {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    align-items: center;
    width: 100%;

    .form-group {
      margin-bottom: 0;

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    }
  }
}
